<div class="row">
    <div class="col-12 mt-4">
        <!-- Tabla ;row["items"][i].id -->
        <div class="table-sticky-md border">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-100">
                <!-- Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="text-center">ID</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element.id}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="numDte">
                    <th mat-header-cell *matHeaderCellDef class="text-center">N° DTE</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element.numDTE}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Fecha</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element.fechaVenta}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="rut">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Rut</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element.codEmpresaCliente}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="huerto">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Huerto</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element.huerto.nombre}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="productor">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Productor</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element.productor.nombre}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="direccion">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Dirección</th>
                    <td mat-cell *matCellDef="let element" class="text-center">{{element.huerto.direccion}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <a class="px-2 d-inline-block" [matMenuTriggerFor]="moduloTablaAcciones">
                            <mat-icon>more_vert</mat-icon>
                        </a>
                        <mat-menu #moduloTablaAcciones="matMenu" xPosition="before" class="mat-menu-fit-content">
                            <button mat-menu-item routerLink="/envases-cosecha/detalle" [queryParams]="{ accion : 'ver', tab : moduloGetTab }">Visualizar</button>
                        </mat-menu>
                    </td>
                </ng-container>
                <!-- Row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="text-primary"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{'bg-secondary-lt': even}"></tr>
            </table>
        </div>
        <!-- Tabla -->
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col mt-4 text-start">
                <button mat-fab color="primary-lt" class="mat-elevation-z0" routerLink="/home">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div class="col-auto mt-4 text-center">
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="col mt-4 text-end">
                <button mat-fab color="primary" class="mat-elevation-z0" routerLink="/envases-cosecha/detalle" [queryParams]="{ accion : 'nuevo', tab : moduloGetTab }" *ngIf="moduloGetTab != 'anulados'">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>