<!-- Main -->
<div class="container-fluid p-4">
    <!-- Contenido -->
    <div class="row">
        <!-- Titulo -->
        <div class="col-12">
            <div class="text-start" *ngIf="moduloNav[moduloNav.length-1].tab">
                <span class="badge bg-primary fw-500 fs-8 text-capitalize">{{ moduloNav[moduloNav.length-1].tab }}</span>
            </div>
            <h1 class="main-title">
                <span class="align-middle">{{ moduloNav[moduloNav.length-1].large }}</span>
                <button mat-icon-button color="primary" class="align-middle" matTooltip="Marcar favorito" matTooltipPosition="above" matTooltipClass="fs-8 bg-primary">
                    <mat-icon>star</mat-icon>
                </button>
            </h1>
        </div>
        <!-- Titulo -->
        <!-- Elementos -->
        <div class="col-12 mt-2 main-content">
            <div class="row">
                <div class="col-6">
                    <!-- Input -->
                    <mat-form-field appearance="fill">
                        <mat-label>Frigorífico</mat-label>
                        <mat-select>
                            <mat-option value="opcion-1">Opción 1</mat-option>
                            <mat-option value="opcion-2">Opción 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Input -->
                </div>
            </div>
            <div class="row">
                <!-- Tabs -->
                <div class="col-12 mt-3">
                    <mat-tab-group mat-align-tabs="center" dynamicHeight>
                        <!-- Item -->
                        <mat-tab label="Recepción">
                            <app-envases-cosecha-tabla-listado moduloGetTab="recepcion"></app-envases-cosecha-tabla-listado>
                        </mat-tab>
                        <!-- Item -->
                    </mat-tab-group>
                </div>
                <!-- Tabs -->
            </div>
        </div>
        <!-- Elementos -->
    </div>
    <!-- Contenido -->
</div>
<!-- Main -->